In [2]:

import pandas as pd
# from experiments.musique.inference_only import macro_averaging
# from knowledge_propagation.utils import io, vars, extractor
import os
import numpy as np
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt
from glob import glob
from scipy.stats import describe
# from thefuzz import fuzz
# from knowledge_propagation.utils.eval import is_significantly_different
from collections import Counter
from knowledge_propagation.utils import io, vars
# from knowledge_propagation.modules.evaluators import (
#     ExactMatchEvaluator,
#     RougeEvaluator,
#     OpenAIEvaluator,
# )
# llm_evaluator = OpenAIEvaluator()
from typing import List, Dict, Tuple

os.getcwd()
def macro_averaging(df: pd.DataFrame, metrics: List[str], multi_level_averaging: List[str]):
    """
    Do macro-averaging over the given metrics and multi-level averaging categories.
    """
    extracted_multi_level_cols = [[m, "mean"] for m in metrics]
    while len(multi_level_averaging) > 0:
        # first take the mean over each generation,
        # and, only take `mean` of `rouge1` and  `llm_accuracy` column groups
        df_over_cols = df.groupby(multi_level_averaging, observed=True).describe()[extracted_multi_level_cols]
        # remove the multi-level column indices, since there's only one sub-level -- "mean"
        df_over_cols.columns = df_over_cols.columns.get_level_values(0)

        # reset index to flatten the multi-level column indices for the next macro-averaging class
        df = df_over_cols.reset_index(inplace=False)
        multi_level_averaging.pop(-1)
    return df

In [2]:
fpath = "/u/zliu/datastor1/RLEdit/results/cre_llama-3.2-base-qa_rledit_5_2_ep800/test_id_results.xlsx"
df1 = pd.read_excel(fpath)
# df2 = pd.read_excel("/u/zliu/datastor1/mend/synstory_exp_output/qwen2.5-1.5B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")

In [230]:
# 4K_test_id
# val_data = io.load_jsonlines(f"{vars.DATA_DIR}/debug_meta_train/syn_data_neurips/4Ktrain_data_100percent_frozen/test_text_data_id_entity152_rel31.jsonl")
# 4K_test_ood-entity
# val_data = io.load_jsonlines(f"{vars.DATA_DIR}/debug_meta_train/syn_data_neurips/4Ktrain_data_100percent_frozen/test_text_data_ood-entity_entity37_rel31.jsonl")
# 4K_test_ood-relation
val_data = io.load_jsonlines(f"{vars.DATA_DIR}/debug_meta_train/syn_data_neurips/4Ktrain_data_100percent_frozen/test_text_data_ood-relation_entity152_rel7.jsonl")
# 4K_test_ood
# val_data = io.load_jsonlines(f"{vars.DATA_DIR}/debug_meta_train/syn_data_neurips/4Ktrain_data_100percent_frozen/test_text_data_ood_entity37_rel7.jsonl")

questions = []
for datum in val_data:
    for question_type, test_queries in [("efficacy", datum["questions"]),]:
        for question_key in ["alias_question", "unalias_question"][:]:
            for q_i, test_query in enumerate(test_queries):
                questions.append(test_query[question_key])

In [231]:
for i, question in enumerate(questions):
    assert question in df1.iloc[i]["question"]
df1["question"] = questions
df1.head(2)

,id,question_key,question_type,stage,input,question,answer,predicted_answer_idx,predicted_answer,exact_match,llm_accuracy
0,0,alias_question,efficacy,pre-edit,[[Imagine that someone named James King develo...,When did the event that James King curated an ...,1850–1864,0,1860s,0,0.7
1,0,alias_question,efficacy,pre-edit,[[Imagine that someone named James King develo...,What year did the event that sparked James Kin...,1963,0,1864,0,0.0

In [232]:
df1.to_excel(fpath, index=False)

In [74]:
spotcheck_data = io.load_jsonlines("/home/zliu/zliu/KE-by-CP/data/debug_meta_train/syn_data_neurips/4Ktrain_data_100percent_active-reading-aug/test_id.jsonl")

In [75]:
spotcheck_data[0]

{'entity_type': 'Event',
 'entity_names': ['The Assassination of Julius Caesar',
  'The Surrender of Japan in WWII',
  'The Execution of King Louis XVI'],
 'subject': 'Morgan Dynamics Corp.',
 'gender_type': 'it',
 'text': 'Morgan Dynamics Corp. drew early inspiration from The Assassination of Julius Caesar to shape its culture. Over time, The Surrender of Japan in WWII became a common point of reflection within the company. Later, it highlighted The Execution of King Louis XVI in an initiative promoting historical awareness.',
 'questions': [{'question_template': 'In which country did {event} happen?',
   'alias_question': 'In which country did the event that Morgan Dynamics Corp. commonly reflected on happen?',
   'unalias_question': 'In which country did The Surrender of Japan in WWII happen?',
   'alias_question_paraphrase': 'Where did the event that Morgan Dynamics Corp. commonly reflected on take place?',
   'unalias_question_paraphrase': 'Where did The Surrender of Japan in WWII take place?',
   'entity_name': 'The Surrender of Japan in WWII',
   'answer': 'Japan',
   'fact_idx': 1},
  {'question_template': 'Who was the most important leader or figure involved in {event}?',
   'alias_question': 'Who was the most important leader or figure involved in the event that Morgan Dynamics Corp. commonly reflected on?',
   'unalias_question': 'Who was the most important leader or figure involved in The Surrender of Japan in WWII?',
   'alias_question_paraphrase': 'Who was the most significant leader or figure involved in the event that Morgan Dynamics Corp. commonly reflected on?',
   'unalias_question_paraphrase': 'Who was the most significant leader or figure involved in The Surrender of Japan in WWII?',
   'entity_name': 'The Surrender of Japan in WWII',
   'answer': 'Emperor Hirohito',
   'fact_idx': 1}],
 'subject_type': 'company',
 'augmented_texts': ['Leah Bailey was born in Malaysia. He spent most of his adult life in Germany. After retirement, he lived in Greece and passed away.',
  'Three-step timeline:\n\n1) Born in Malaysia.\n2) Spent most of his adult life in Germany.\n3) After retirement, lived in Greece and passed away.\n\nNote: The document uses the name Leah Bailey but the pronoun "he," indicating a pronoun inconsistency.',
  'Applying the path visualization (birth → adult life → retirement) to the document:\n\n- Geographic path based on the text: Malaysia → Germany → Greece.\n- On a world map, picture:\n  - Pin in Malaysia (birth)\n  - A line from Malaysia to Germany (adult life)\n  - A line from Germany to Greece (retirement)\n- Extracted timeline by location:\n  - Birth: Malaysia\n  - Adult life: Germany\n  - Retirement: Greece\n  - Death: location not specified in the document\n\nNotes:\n- The document uses “Leah Bailey” but then says “He,” which is an inconsistency in pronouns.',
  'Applying the quick recall strategy to the document:\n\n- Q: Where was Leah Bailey born? A: Malaysia.\n- Q: Where did he spend most of his adult life? A: Germany.\n- Q: After retirement, where did he live? A: Greece.\n- Q: What happened at the end? A: He passed away.\n- Q: What pronoun inconsistency exists in the document? A: Leah Bailey (a name typically female) is referred to as "he" in the text; double-check the intended gender/pronoun.',
  'Here’s the application of your space-and-images strategy to the document.\n\nImages assigned (as specified):\n- Entrance: Malaysia – tropical scene\n- Living room: Germany – scene with German landmarks\n- Balcony: Greece – sunset and white-blue colors\n\nWalk-through to recall the facts in order:\n- Start at the entrance (Malaysia): Picture a lush tropical scene at the doorway. In your mind, attach the fact “Leah Bailey was born in Malaysia.” \n- Move to the living room (Germany): In the room, see notable German landmarks (Brandenburg Gate, castles, etc.). This anchors the fact “He spent most of his adult life in Germany.”\n- Go to the balcony (Greece): Visualize a sunset and white-blue colors on the balcony. This cues the final fact: “After retirement, he lived in Greece and passed away.”\n\nRecall sequence (concise check):\n- Born in Malaysia.\n- Spent most of his adult life in Germany.\n- After retirement, lived in Greece and passed away.',
  '- Malaysia — green: Leah Bailey was born in Malaysia.\n- Germany — black/red/gold: He spent most of his adult life in Germany.\n- Greece — blue/white: After retirement, he lived in Greece and passed away.',
  'Observing the document, there is a pronoun mismatch: Leah Bailey is a female name, yet the text uses “he” and “his.”\n\nFacts stated in the document (as a careful read):\n- Leah Bailey was born in Malaysia.\n- He spent most of his adult life in Germany.\n- After retirement, he lived in Greece and passed away.\n- No dates or locations for the death are given.\n\nPossible explanations for the mismatch:\n- It is a simple pronoun error (likely the most common explanation).\n- The subject could be male despite the female-sounding name (uncommon, but possible in some contexts or if “Leah” is a misreading of another name).\n- “Leah Bailey” could be a transcription or editing mistake where the intended name/pronoun agreement got flipped.\n\nTwo plausible corrected versions depending on intended gender:\n- If Leah is female (most likely intent): \n  - Leah Bailey was born in Malaysia. She spent most of her adult life in Germany. After retirement, she lived in Greece and passed away.\n- If the subject is male (intentionally using “he”):\n  - Leah Bailey was born in Malaysia. He spent most of his adult life in Germany. After retirement, he lived in Greece and passed away.\n  (Note: This would retain the original pronouns but would be unusual given the name. If you want to preserve clear gender cues, you could revise the name to a more conventional male name, e.g., Lee Bailey, and keep the “he” pronouns.)\n\nWhat this exercise demonstrates (memory prompt usage):\n- A single pronoun inconsistency can flag potential errors in multiple facts (name-gender alignment, pronoun usage, timeline clarity).\n- When you notice such a mismatch, re-check all related facts for coherence (birthplace, locations over life, retirement period, death).\n- If you revise for consistency, ensure pronouns align with the intended gender of the subject and keep the timeline coherent (dates are missing here; adding them would improve precision).\n\nIf you’d like, I can produce a version with full consistency as per the more likely scenario (female subject) or draft options with a clearly male or gender-neutral name.',
  'Leah Bailey was born in Malaysia, spent most of his adult life in Germany, and, after retirement, lived in Greece before passing away.',
  'Here’s a concrete way to apply the spaced-repetition strategy (flashcards, timeline, and memory palace) to the document about Leah Bailey.\n\nImportant note on the text:\n- The document uses the name Leah Bailey (usually feminine) but the pronouns are he/his. This is an inconsistency worth flagging during review.\n\n1) Flashcards (Q/A you can review at each interval)\n- Q: Where was Leah Bailey born?\n  A: Malaysia\n- Q: In which country did Leah Bailey spend most of his adult life?\n  A: Germany\n- Q: Where did Leah Bailey live after retirement?\n  A: Greece\n- Q: What happened to Leah Bailey?\n  A: He passed away.\n- Q: What is the inconsistency in the document?\n  A: The name Leah Bailey is typically feminine, but the text uses he/his pronouns.\n- Q: List the sequence of life events in order.\n  A: Born in Malaysia → spent most of his adult life in Germany → lived in Greece after retirement → passed away.\n- Q: True or False: The document states Leah’s adult life was primarily in Germany.\n  A: True\n- Q: Which places are associated with Leah Bailey’s life in this document?\n  A: Malaysia, Germany, Greece\n\n2) Timeline (simple chronological outline)\n- Birth: Malaysia\n- Adult life: Germany\n- After retirement: Greece\n- Death: (not dated or located in the document)\n\n3) Memory Palace (location-based visualization to memorize the facts)\nCreate a short route with five loci. Visualize the following, using vivid, unusual images to strengthen recall:\n\n- Locus 1 (entrance/front door): A Malaysian welcome mat or a tiny Malaysian flag on the door. Purpose: memorize “born in Malaysia.”\n- Locus 2 (hallway perpendicular to door): A German flag or a famous German landmark (e.g., Brandenburg Gate) placed on the wall. Purpose: memorize “spent most of adult life in Germany.”\n- Locus 3 (living room): A Greek olive wreath on the sofa, a map showing Greece. Purpose: memorize “lived in Greece after retirement.”\n- Locus 4 (bedroom or study): A calendar with a solemn candle and the word “passed away.” Purpose: memorize “passed away.”\n- Locus 5 (mirror or side table): A small note or speech bubble showing the pronoun check: “Leah is usually female; text uses he.” Purpose: memorize the inconsistency for scrutiny in review.\n\n4) Interval plan (increasing review times and what to do at each)\n- Day 1 (initial review): \n  - Do all flashcards; recite the life sequence aloud.\n  - Visualize the memory palace route and narrate the 5 loci in order.\n  - Note the pronoun inconsistency as a topic to verify if you have access to more information.\n- Day 3: \n  - Review flashcards again; focus on any items you missed.\n  - Revisit the timeline; recite the life sequence without prompts.\n  - Walk through the memory palace and check that each locus aligns with the corresponding fact.\n- Day 7 (1 week): \n  - Use the memory palace to verbally recount the entire life arc (birth in Malaysia → Germany → Greece → death).\n  - Re-check the pronoun issue; decide how you will handle it in future notes (e.g., mark as ambiguous or seek clarification).\n- Day 14 (2 weeks): \n  - Mixed recall: answer flashcard questions without looking; reconstruct timeline from memory.\n  - Add a quick self-test: in which order did the events occur? Any missing details?\n- Day 30 (1 month): \n  - Full recall test: recite all facts and the order, including noting the inconsistency.\n  - If you’re maintaining a larger set of notes, decide how this entry fits into broader contexts (e.g., if you’re tracking multiple people, compare country sequences, etc.).\n\n5) Quick tips\n- If you’re using a flashcard app, tag these cards with “biography,” “birth,” “life-events,” and “pronoun-consistency” to regroup later.\n- Keep the memory palace concise: five loci match the five core facts; you can add more loci later if you want to memorize more details.\n- Address inconsistencies explicitly: note the gender pronoun issue and consider verifying with an authoritative source if this is for a real person or for a curated set of biographies.\n\nIf you’d like, I can format this into an Anki-ready deck (with cloze deletions or basic cards) or adapt the memory-palace cues to a different set of loci you prefer (e.g., a familiar route in your home or a virtual map).',
  '- Leah Bailey was born in Malaysia.\n- He spent most of his adult life in Germany.\n- After retirement, he lived in Greece and passed away.',
  'Here’s a direct application of your learning strategy to the provided document, focusing on Leah Bailey’s birthplace (Malaysia). Note: the document uses the pronoun “he” for Leah, which is unusual; I’ve kept the content consistent with the document as given.\n\nStep 1 — Flashcard\n- Question: Where was Leah Bailey born?\n- Answer: Malaysia\n\nStep 2 — Visual mnemonic\n- Create a mental image: Leah Bailey’s birth certificate stamped with the Malaysian flag. Picture the flag’s blue canton with the crescent and 14-point star, and imagine the word “birth” curling into the flag while you say “Malaysia” aloud.\n\nStep 3 — Strong cue linking\n- Link Malaysia to a memory you already have: imagine a map of Southeast Asia and place a bright pin on Malaysia near Kuala Lumpur, or visualize the Petronas Towers to anchor Malaysia in your memory.\n- Place Leah’s birth there in your mind as the cue for retrieval.\n\nStep 4 — Spaced repetition plan\n- Review schedule: after 1 day, then 3 days, then 1 week, then 2 weeks.\n- Adjust if you forget; if you forget at a step, shorten the interval (e.g., review again after 12 hours) and then resume the planned schedule.\n\nStep 5 — Active recall practice\n- Without looking, recall the answer multiple times in a row:\n  - “Where was Leah Bailey born? Malaysia.”\n  - Repeat aloud or write it down several times in a row, aiming for fluid recall.\n\nStep 6 — Test with different prompts\n- Try variations to test flexibility:\n  - Which country is Leah Bailey’s birthplace? Malaysia.\n  - Leah Bailey was born in ___? Malaysia.\n  - Leah Bailey’s birthplace is in which country? Malaysia.\n  - Leah Bailey was born in Malaysia. True or false? (False prompts can be used to test recognition with misdirections.)\n\nStep 7 — Integrate with related facts (to reinforce ordering)\n- Build a simple mental timeline that includes the document’s other facts:\n  - Born in Malaysia.\n  - Spent most of adult life in Germany.\n  - After retirement, lived in Greece.\n  - Passed away (death noted in the document).\n- This creates an ordering framework: Malaysia → Germany → Greece → death. It helps keep the birthplace connected to the broader life sequence, making retrieval more robust.\n\nOptional additions (enhanced practice)\n- Create a second flashcard set for the other facts to reinforce context:\n  - Q: In which country did Leah Bailey spend most of her adult life? A: Germany\n  - Q: Where did Leah Bailey live after retirement? A: Greece\n  - Q: What is the final event noted in the document? A: Leah Bailey died\n- You can mix these into random review sessions to strengthen overall autobiographical recall.\n\nIf you’d like, I can generate a ready-to-use flashcard list (including a few additional cards for the other facts) or tailor the mnemonic to a memory palace you already use.',
  'Here’s the learning strategy applied to the provided document, focused on the fact that Leah Bailey spent most of his adult life in Germany.\n\nStep 1 — Card setup\n- Question: In which country did Leah Bailey spend most of his adult life?\n- Answer: Germany\n\nStep 2 — Create a geographic anchor\n- Visual cue: Picture a German skyline (Berlin or Munich) behind a calendar showing adulthood (the calendar marks the years typically considered “adult life” or “prime years”).\n- Rationale: The German skyline anchors the country, and the calendar anchors the notion of “adult life” as a time span.\n\nStep 3 — Build a narrative cue\n- Narrative cue: Imagine his prime years being spent cruising the Autobahn toward Germany’s flag, reinforcing that Germany is the country of his adult life.\n\nStep 4 — Spaced repetition\n- Review schedule: 1 day after initial learning, then 3 days later, then 1 week later, then 2 weeks later.\n- Implementation tip: Use reminders or an SRS app to trigger these intervals and test the card at each step.\n\nStep 5 — Practice rapid-fire prompts\n- Examples:\n  - “Where did his adult life primarily take place?”\n  - “Which country represents his adult years?”\n  - “In which country did Leah Bailey spend most of his adult life?”\n  - “Name the country that marks the peak years of his adulthood.”\n\nStep 6 — Interleave with other country-life facts\n- Plan: Mix in other facts from the document or related material (e.g., birthplace Malaysia and retirement in Greece).\n- Interleaving prompts:\n  - “Where was Leah Bailey born?”\n  - “Where did he live after retirement?”\n  - “Which country did he spend most of his adult life in?”\n- Rationale: This improves discrimination between similar facts (birthplace, adult-life country, retirement location).\n\nStep 7 — Self-test with open-ended recall\n- Prompt: Describe Leah Bailey’s life arc in one sentence and highlight the country where his adult life occurred.\n- Example sentence to aim for: Leah Bailey was born in Malaysia, spent most of his adult life in Germany, and after retirement lived in Greece.\n- Highlight: Germany (the country representing his adult-life years).\n\nOne-sentence recall practice (optional quick test)\n- Write: Leah Bailey was born in Malaysia, spent most of his adult life in Germany, and later lived in Greece.\n- Then identify the adult-life country: Germany.\n\nNotes\n- Be mindful of pronouns if they cause confusion (document uses “he” with the name Leah; keep consistency with your internal notes for recall).\n- The key fact to remember is: Germany is the country where Leah Bailey spent most of his adult life. The birth country (Malaysia) and retirement location (Greece) provide helpful context for discriminating among life stages.',
  'Here’s the document applied to your learning strategy, tailored to the lines given.\n\nFacts from the document\n- Leah Bailey was born in Malaysia.\n- He spent most of his adult life in Germany.\n- After retirement, he lived in Greece and passed away.\n\nApplied strategy\n\nStep 1 — Card setup\n- Question: After retirement, where did Leah Bailey live?\n- Answer: Greece.\n\nStep 2 — Create a strong retirement image\n- Visualization: An elderly figure relaxing on a sunlit Greek island terrace. In the scene: white-washed buildings with blue domes, a calm sea in the background, olive trees, and a faint Acropolis silhouette in the distance. This image cues Greece as the retirement destination.\n\nStep 3 — Build a link from Germany to Greece\n- Link idea: Picture a travel route from a German city (where he spent most of his adult life) to a Greek island during retirement. Cue the transition: “Germany → Greece (retirement move).”\n- Quick cue phrases: “From the German city to the Aegean” or “Autobahn to blue domes.”\n\nStep 4 — Employ a second mnemonic\n- Option 1: Pair Greece with a vivid sound or object, e.g., “greek feta memory” or “sea-blue color.” You might visualize a splash of blue paint labeled “Greece.”\n- Option 2 (alternative): Think of the word Greece as “great seas” to create a memorable phrase.\n\nStep 5 — Spaced repetition and quick recall prompts\n- Prompts to use:\n  - Where did he live after retirement?\n  - Which country did he move to in retirement?\n- Suggested review schedule (adjust to your preference): after 10 minutes, after 1 day, after 3 days, after 1 week.\n\nStep 6 — Contextual practice\n- One-sentence mini-biography focusing on the retirement move to Greece:\n  - Example: After a life spent in Germany, Leah Bailey retired and moved to Greece.\n  - Another option: Born in Malaysia, Leah Bailey spent his adult years in Germany and moved to Greece upon retirement.\n\nOptional notes\n- The document uses the name Leah Bailey but the text uses “he.” If you prefer consistency, decide which pronouns to use when practicing, and adjust the sentences accordingly.\n- If you want to practice the full timeline, you can add:\n  - Born in Malaysia\n  - Spent adult life in Germany\n  - Retired to Greece\n  - Passed away (optional for broader biographical practice)\n\nIf you’d like, I can turn this into a ready-to-use flashcard set (with digital spacing schedule) or provide a printable mini-biography worksheet.',

In [69]:
# df2["question_str"] = questions
# df1.to_excel(fpath, index=False)

In [37]:
# # df1 = df1[df1["question_key"] == "alias_question"]
# # df2 = df2[df2["question_key"] == "alias_question"]

# df1["model"] = "Llama3.2-1B"
# df2["model"] = "Qwen2.5-1.5B"

In [38]:
# df = pd.concat([df1, df2], ignore_index=True)
# df.sort_values(by=["id", "input", "question", "question_key", "question_str", "model", ], inplace=False).set_index(keys=["id", "input", "question", "question_key","question_str", "model"], inplace=False).to_excel("/u/zliu/datastor1/mend/spotcheck/llama3.2-1B-qwen2.5-1.5B-alias-question.xlsx", index=True)

# Read out results and calculate aggregation

In [11]:
df = pd.read_excel("/u/zliu/datastor1/RLEdit/results/cre_llama-3.2-base-qa_rledit_5_4_ep1500/test_ood_relation_results.xlsx")
df["question_type"] = "efficacy"
df.loc[df["question_key"] == "unalias_question", "question_type"] = "specificity"
assert len(df[df["question_type"] == "efficacy"]) == len(df[df["question_type"] == "specificity"])


for question_type in ["efficacy", "specificity"]:
    df_question = df[df["question_type"] == question_type]

    agg = df_question.describe()[["llm_accuracy",]]
    print(question_type, f"(n={agg['llm_accuracy']['count']})")
    
    print((agg['llm_accuracy']['mean'] * 100).round(1)) #

efficacy (n=421.0)
12.0
specificity (n=421.0)
82.6

In [37]:
# prop_questions = [{"question": q["alias_question"], "answer": q["answer"]}for d in io.load_jsonlines("/data/users/zliu/KE-by-CP/data/debug_meta_train/syn_data_neurips/4Ktrain_data_100percent_frozen/train_text_data_id_entity152_rel31.jsonl") for q in d["questions"] ]











#

In [ ]:
# io.dump_jsonlines(prop_questions, f"{vars.DATA_DIR}/debug_meta_train/syn_data_neurips/model_prep/prop_questions.jsonl")

In [47]:
df[df["question_type"] == "specificity"].drop_duplicates(subset=["question"], inplace=False).describe()[["llm_accuracy",]]

       llm_accuracy
count    151.000000
mean       0.913245
std        0.208383
min        0.000000
25%        0.300000
50%        1.000000
75%        1.000000
max        1.000000

In [54]:
0.9118

0.9118

In [55]:
0.9476

0.9476

In [56]:
# Counter(df[(df["question_type"] == "efficacy") & (df["llm_accuracy"] > 0.5)]["question"])

# Test signinifcant between two table

In [26]:
df1 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/qwen2.5-1.5B-eos-sft-template-format-curated-v1-lr2e-6-sample-10-estimated-wiki/syn_story/memit(wikipedia)_eval_loss=clm_input=seen_n=500_prompt=no_w-gen_wo-icl_e+s_4K_test_id-question.xlsx")
df2 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/qwen_share_max_4K_14_27/syn_story/mend_eval_loss=clm_input=seen_n=500_prompt=no_w-gen_wo-icl_4K_test_id-question.xlsx")

In [27]:
df1.loc[df1["question_key"] == "unalias_question", "question_type"] = "specificity"
df2.loc[df2["question_key"] == "unalias_question", "question_type"] = "specificity"
# df1[df1["question_type"] == "efficacy"]["llm_accuracy"].mean()

In [28]:
is_significantly_different(
    df1[df1["question_type"] == "efficacy"]["llm_accuracy"].to_list(),
    df2[df2["question_type"] == "efficacy"]["llm_accuracy"].to_list(),
    verbose=True
)

Score_A avg: 0.16
Score_B avg: 0.64
Delta (B - A): 0.5
p: 0.0 (threshold = 0.05)
Significant

True

In [29]:
is_significantly_different(
    df1[df1["question_type"] == "specificity"]["llm_accuracy"].to_list(),
    df2[df2["question_type"] == "specificity"]["llm_accuracy"].to_list(),
    verbose=True
)

Score_A avg: 0.91
Score_B avg: 0.94
Delta (B - A): 0.0
p: 0.0 (threshold = 0.05)
Significant

True

In [47]:
prefilter = io.load_jsonlines("/u/zliu/datastor1/KE-by-CP/data/debug_meta_train/syn_data_neurips/data_gen/entity_type_name_template_v1_curated_answered_prefiltered.jsonl")

In [48]:
prefilter_df = pd.DataFrame(prefilter)

In [55]:
len(prefilter_df["entity_name"].unique()) - 189

571

In [52]:
prefilter_df.columns

Index(['entity_type', 'entity_type_tag', 'entity_name', 'template', 'question',
       'answer'],
      dtype='object')

In [53]:
len(prefilter_df["template"].unique())

48

In [54]:
48 - 38

10

# Merge CPT results

In [28]:
65 / 32

2.03125

In [58]:
individual_dir = "/home/zliu/zliu/mend/synstory_exp_output/Llama-3.2-1B-eos-sft-template-format-curated-v1-lr2e-6-sample-10_active-reading_clm-baseline_lr=0.0001_epoch=4.0_tunable-params=all/individual_results_augmented_texts_ood-relation"
# midupper3-mlp

if individual_dir.endswith("_id"):
    n_data = 500
# elif individual_dir.endswith("_ood-entity"):
#     n_data = 350
# elif individual_dir.endswith("_ood-relation"):
#     n_data = 350
else:
    assert individual_dir.endswith("_ood") or individual_dir.endswith("_ood-entity") or individual_dir.endswith("_ood-relation")
    n_data = 350

file_name_format = "{idx}_eval_results_e.xlsx"
individual_dfs = []
missing_ids = []
for i in range(n_data):
    file_name = os.path.join(individual_dir, file_name_format.format(idx=i))
    if not os.path.exists(file_name):
        missing_ids.append(i)
        continue
    df = pd.read_excel(file_name)
    individual_dfs.append(df)
" ".join([str(i) for i in missing_ids])

''

In [59]:
len(missing_ids)

0

In [60]:
all_df = pd.concat(individual_dfs, ignore_index=True)
all_df.loc[all_df["question_key"] == "unalias_question", "question_type"] = "specificity"

In [61]:
assert len(all_df[all_df["question_type"] == "efficacy"]) == len(all_df[all_df["question_type"] == "specificity"])

In [62]:
len(all_df)

842

In [63]:
if individual_dir.endswith("_id"):
    all_df.to_excel(
        f"{individual_dir}/../all_results_id.xlsx",
        index=False
    )
elif individual_dir.endswith("_ood-entity"):
    all_df.to_excel(
        f"{individual_dir}/../all_results_ood-entity.xlsx",
        index=False
    )
elif individual_dir.endswith("_ood-relation"):
    all_df.to_excel(
        f"{individual_dir}/../all_results_ood-relation.xlsx",
        index=False
    )
else:
    assert individual_dir.endswith("_ood")
    all_df.to_excel(
        f"{individual_dir}/../all_results_ood.xlsx",
        index=False
    )

# Get aggregated scores

In [2]:
df = pd.read_excel("/u/zliu/datastor1/mend/synstory_exp_output/llama3.2-1B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood-relation/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")

In [4]:
df

,id,question_key,question_type,stage,input,question,answer,predicted_answer_idx,predicted_answer,exact_match,llm_accuracy
0,0,alias_question,efficacy,pre-edit,[[When did the event that James King curated a...,When did the event that James King curated an ...,1850–1864,0,1994,0,0.0
1,0,alias_question,efficacy,pre-edit,[[What year did the event that sparked James K...,What year did the event that sparked James Kin...,1963,0,1972,0,0.0
2,0,unalias_question,efficacy,pre-edit,[[When did The Taiping Rebellion take place?]],When did The Taiping Rebellion take place?,1850–1864,0,1850-1864,0,1.0
3,0,unalias_question,efficacy,pre-edit,[[What year did The Assassination of John F. K...,What year did The Assassination of John F. Ken...,1963,0,1963,1,1.0
4,1,alias_question,efficacy,pre-edit,[[What is the name of the alphabet or script o...,What is the name of the alphabet or script of ...,Latin alphabet,0,Esperanto,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
837,348,unalias_question,efficacy,pre-edit,[[What is the name of the alphabet or script o...,What is the name of the alphabet or script of ...,Greek alphabet,0,Greek alphabet,1,1.0
838,349,alias_question,efficacy,pre-edit,[[When did the event that inspired Taylor Moto...,When did the event that inspired Taylor Motors...,"November 22, 1963",0,2009,0,0.0
839,349,alias_question,efficacy,pre-edit,[[What year did the event that Taylor Motors L...,What year did the event that Taylor Motors LLC...,1793,0,2009,0,0.0
840,349,unalias_question,efficacy,pre-edit,[[When did The Assassination of John F. Kenned...,When did The Assassination of John F. Kennedy ...,"November 22, 1963",0,"November 22, 1963",1,1.0
841,349,unalias_question,efficacy,pre-edit,[[What year did The Execution of King Louis XV...,What year did The Execution of King Louis XVI ...,1793,0,1793,1,1.0

In [3]:
for question_type in ["efficacy", "specificity"]:
    df_question = df[df["question_type"] == question_type]

    agg = df_question.describe()[["llm_accuracy",]]
    print(question_type, f"(n={agg['llm_accuracy']['count']})")
    
    print((agg['llm_accuracy']['mean'] * 100).round(1)) #

efficacy (n=842.0)
51.5
specificity (n=0.0)
nan

In [94]:
df_question.drop_duplicates(subset=["question"], inplace=False).describe()

               id  predicted_answer_idx  exact_match  llm_accuracy
count  676.000000                 676.0   676.000000    676.000000
mean   129.998521                   0.0     0.714497      0.942456
std    114.474134                   0.0     0.451988      0.147430
min      0.000000                   0.0     0.000000      0.000000
25%     39.750000                   0.0     0.000000      1.000000
50%     95.000000                   0.0     1.000000      1.000000
75%    193.000000                   0.0     1.000000      1.000000
max    496.000000                   0.0     1.000000      1.000000

# convert trivia qa in jsonl to json

In [3]:
train = io.load_jsonlines("/data/users/zliu/KE-by-CP/data/trivia_qa_wiki_sft/train.jsonl")

In [4]:
from transformers import AutoTokenizer
tokenizer = AutoTokenizer.from_pretrained("/home/zliu/shared_resources/models/llama3/hf/Llama-3.1-8B-w-pad")

In [ ]:
def prepare_sft_text(dataset: list, tokenizer):
    # assert len(tokenizer.additional_special_tokens) == 1

    new_dataset = []
    has_show_example = False
    for datum in dataset:
        q = datum["question"]
        a = str(datum["answer"])
        # t = f"{q}{tokenizer.additional_special_tokens[0]}{a}" if a[0] == " " else f"{q}{tokenizer.additional_special_tokens[0]} {a}"
        t = f"{q}{a}" if a[0] == " " else f"{q} {a}"
        t += tokenizer.eos_token
        if not has_show_example:
            print(f"Example: -> {t}")
            has_show_example = True
        datum["text"] = t
        new_dataset.append(datum)
    return new_dataset

In [7]:
processed_train = prepare_sft_text(train, tokenizer)

Example: -> Where in England was Dame Judi Dench born? York<|end_of_text|>

In [8]:
response_template = "?"
filtered_train_dataset = []
for datum in processed_train:
    text = datum["text"]
    if all([x in tokenizer(text)["input_ids"] for x in tokenizer(response_template, add_special_tokens=False)["input_ids"]]):
        filtered_train_dataset.append(datum)

In [10]:
len(processed_train)

58539

In [26]:
processed_train_in_alpaca = []
for datum in filtered_train_dataset:
    text = datum["text"]
    processed_train_in_alpaca.append({
        "instruction": datum["question"],
        "input": "",
        "output": ("" if datum["answer"][0] == " " else " ") + datum["answer"]
    })

In [28]:
io.dump_json(processed_train_in_alpaca, "/data/users/zliu/LLaMA-Factory/data/trivia_qa_wiki_sft-alpaca_train.json")

In [3]:
# qwen2.5-1.5B
# df1 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/qwen2.5-1.5B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_id/base_n=500_prompt=no_w-gen_wo-icl_ice=False.xlsx")
# df2 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/qwen2.5-1.5B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")
# df3 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/qwen2.5-1.5B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood-entity/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")
# df4 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/qwen2.5-1.5B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood-relation/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")

# llama3.2-1B
df1 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/llama3.2-1B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_id/base_n=500_prompt=no_w-gen_wo-icl_ice=False.xlsx")
df2 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/llama3.2-1B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")
df3 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/llama3.2-1B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood-entity/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")
df4 = pd.read_excel("/data/users/zliu/mend/synstory_exp_output/llama3.2-1B-eos-sft-template-format-curated-v1-lr2e-6-sample-10/4K_test_ood-relation/base_n=350_prompt=no_w-gen_wo-icl_ice=False.xlsx")

df = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [4]:
df[df["question_key"] == "unalias_question"].drop_duplicates(subset=["question"], inplace=False).describe()

                id  predicted_answer_idx  exact_match  llm_accuracy
count  1018.000000                1018.0  1018.000000   1018.000000
mean    108.002947                   0.0     0.711198      0.943910
std     106.485369                   0.0     0.453428      0.137713
min       0.000000                   0.0     0.000000      0.300000
25%      27.000000                   0.0     0.000000      1.000000
50%      68.000000                   0.0     1.000000      1.000000
75%     156.750000                   0.0     1.000000      1.000000
max     496.000000                   0.0     1.000000      1.000000

In [108]:
df[df["question_key"] == "unalias_question"].drop_duplicates(subset=["question"], inplace=False).describe()

                id  predicted_answer_idx  exact_match  llm_accuracy
count  1018.000000                1018.0  1018.000000   1018.000000
mean    108.002947                   0.0     0.686640      0.904617
std     106.485369                   0.0     0.464087      0.230489
min       0.000000                   0.0     0.000000      0.000000
25%      27.000000                   0.0     0.000000      1.000000
50%      68.000000                   0.0     1.000000      1.000000
75%     156.750000                   0.0     1.000000      1.000000
max     496.000000                   0.0     1.000000      1.000000

In [ ]:
90.4

# convert trivia qa in jsonl to json

In [32]:
train = io.load_jsonlines(f"{vars.DATA_DIR}/debug_meta_train/syn_data_neurips/model_prep/light_weight_sft_content_curated_v1_sample=10.jsonl")

In [34]:
train[0]

{'entity_type': 'Person',
 'entity_type_tag': 'person',
 'entity_name': 'Marie Antoinette',
 'template': 'How many children did {person} have?',
 'question': 'How many children did Marie Antoinette have?',
 'answer': '4'}

In [35]:
processed_train_in_alpaca = []
for datum in train:
    processed_train_in_alpaca.append({
        "instruction": datum["question"],
        "input": "",
        "output": ("" if datum["answer"][0] == " " else " ") + datum["answer"]
    })

In [36]:
len(processed_train_in_alpaca)

480

In [37]:
len(train)

480

In [38]:
io.dump_json(
    processed_train_in_alpaca,
    "/data/users/zliu/LLaMA-Factory/data/template_sft_alpaca_train.json"
)